<div class="min-h-full">
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
   <!-- side bar mobile -->


  <!-- Static sidebar for desktop -->
  <div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <sidebar-component/>
  </div>

  <div class="flex flex-1 flex-col lg:pl-64">
    <!-- aqui va el header -->
     <header-component/>
    <!-- aqui va el admin home -->
     <router-outlet/>
  </div>
</div>

