<div class="flex min-h-full bg-[#3E2F2C]">
  <div class="flex bg-gradient-to-r from-[#be5d48] via-[#95766F] to-[#4F3B37] flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-14 w-auto" src="/whitelogo.png" alt="Your Company">
        <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-[#D3C6C3]">Sign in to your account</h2>
        <p class="mt-2 text-sm/6 text-[#D3C6C3]">
          Not a member?
          <a href="#" class="font-bold text-[#FF814C] hover:text-[#FF6F00]">Contact us </a>
        </p>
      </div>

      <div class="mt-10">
        <div>
          <form action="#" method="POST" class="space-y-6">
            <div>
              <label for="email" class="block text-sm/6 font-medium text-[#D3C6C3]">Email address</label>
              <div class="mt-2">
                <input id="email" name="email" type="email" autocomplete="email" required class="p-2 block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-[#6B514D] placeholder:text-[#A67B6B] focus:ring-2 focus:ring-inset focus:ring-[#FF6F00] bg-orange-100 text-gray-600 sm:text-sm/6">
              </div>
            </div>

            <div>
              <label for="password" class="block text-sm/6 font-medium text-[#D3C6C3]">Password</label>
              <div class="mt-2">
                <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-[#6B514D] placeholder:text-[#A67B6B] focus:ring-2 focus:ring-inset focus:ring-[#FF6F00] bg-orange-100 text-gray-600 sm:text-sm/6">
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" class="size-4 rounded border-[#6B514D] text-[#FF6F00] focus:ring-[#FF6F00]">
                <label for="remember-me" class="ml-3 block text-sm/6 text-[#D3C6C3]">Remember me</label>
              </div>

              <div class="text-sm/6">
                <a href="#" class="font-semibold text-[#FF814C] hover:text-[#FF6F00]">Forgot password?</a>
              </div>
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-orange-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-[#E65D00] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#FF6F00]">Sign in</button>
            </div>
          </form>
        </div>

        <div class="mt-10">
          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-[#6B514D]"></div>
            </div>
            <div class="relative flex justify-center text-sm/6 font-medium">
              <span class="bg-[#3E2F2C] px-6 text-[#D3C6C3]">Or register</span>
            </div>
          </div>
          <div class="mt-6 grid grid-cols-1 ">
            <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-600 shadow-sm hover:bg-orange-100 focus-visible:ring-transparent">

              <span class="text-sm/6 font-semibold">Register</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 size-full object-cover" src="/loginImage.png" alt="">
  </div>
</div>
