.blurred-box{
  background: inherit;
  border-radius: 2px;
  overflow: hidden;

}

.blurred-box:after{
 content: '';
 background: inherit;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}
